body{
    background-color: #000;
}

#file-picker{
    display: none;
}

#list{
    background-color: #2e2e2e;
    overflow-y: auto;
}

#list > div{
    padding: 0.5em;
    font-size: larger;
    display: flex;
    cursor: pointer;
    border-bottom: 2px solid #000;
}

#list > div:hover{
    background-color: #404040;
}

#list > div > *{
    flex: 1;
}

#list > div > :nth-child(3) {
    flex: 0.4;
}
#list > div > :nth-child(2) {
    flex: 2;
}

#list > div > :last-child{
    margin-left: 1em;
}

#load-file {
    background: #2e2e2e;
    padding: 1em;
    text-align: center;
    border-bottom: 4px solid #FFF;
    font-size: larger;
    display: flex;
}

#load-file > span{
    flex: 1;
}
